.alert-center{
    justify-content: center;
    align-items: center;
}

.alert-container{
    flex-direction: column;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem;
    width: 15rem;
    background-color: white;
}

.alert-heading{
    margin-bottom: 1rem;
}

.alert-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    margin: 10px 0 0 7rem;
}

.alert-button{
    border: none;
    font-size: 16px;
}

.alert-button-yes{
    color: red;
    background-color: white;
}

.alert-button-yes:hover{
    font-weight: bold;
}

.alert-button-no{
    color: green;
    background-color: white;
}

.alert-button-no:hover{
    font-weight: bold;
}

.alert-buttons-stacked{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 2rem;
}

.alert-items{
    list-style: none;
}

.alert-item{
    padding: 1rem;
    margin-left: auto;
}

.alert-item:hover{
    background-color: var(--item-background-color);
}

.alert-items-scroll{
    overflow: scroll;
    height: 10rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}
